<!-- <nb-card>
<nb-card-header>
    Contadores de paquetes leidos y confirmados 
</nb-card-header>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header">
    
                    <h3 class="box-title"><i class="fa fa-barcode"> Filtro</i></h3>
                    <div class="box-tools">
                        
                    </div>
                </div>
                
              
            </div>
           
        </div>
        
    </div>
</nb-card> -->
    <!-- <nb-card-header>
        Contadores de paquetes leidos y confirmados 
    </nb-card-header> -->


    <!-- <div class="row">
        <div class="col-md-12 col-ms-12">
            <div class="box box-primary">
                <p>PA</p>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-12">
            <nb-card class="inline-form-card">
                <nb-card-header>
                    <h6 id="h6">Contadores de paquetes leidos y confirmados </h6>
                </nb-card-header>
                <nb-card-body >
                    <form  class="form-inline" novalidate id="formId">
                        <div class="form-group mx-sm-4 mb-3">
                            <ejs-datepicker  name=" StartTime " id="StartTime " data-name="StartTime " placeholder='Fecha Inicio' floatLabelType='Always' required>
                            </ejs-datepicker>
                        </div>
                    </form>
                    <div class="row col-md-12">
                        <br />
    
                        <!-- <span class="badge bg-red">Punto Control                 </span>
                        <span class="badge bg-green">Lecturas                      </span>
                        <span class="badge bg-yellow">Tienda                        </span>
                        <span class="badge bg-blue">Cajas confirmadas en la tienda</span> -->

                        <span class="badge badge-pill badge-danger">Punto Control</span>
                        <span class="badge badge-pill badge-success">Lecturas</span>
                        <span class="badge badge-pill badge-warning">Tienda</span>
                        <span class="badge badge-pill badge-primary">Cajas confirmadas en la tienda</span>
                    </div>

                   

                </nb-card-body>
            </nb-card>
        </div>
    </div>

<nb-card>
    <nb-card-body>
        <div class="row ">
            <!-- <img src="./assets/img/CEDI_Leonisa.png" class="img" alt=""> -->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 574.45 259.39">
                <image id="Layer_0_Imagen-2" data-name="Layer 0 Imagen" width="1458" height="885"
                transform="translate(80.41 24.47) scale(0.24)" xlink:href="./assets/img/CEDI_Leonisa.png" />
                <g>
                <!-- <text x="70.78" y="164.75" class="st5" >100</text>
                <text x="75.78" y="174.75" class="st5">101</text>
                <text x="80.78" y="184.75" class="st5">102</text>
                <text x="90.78" y="194.75" class="st5">103</text>
                <text x="100.78" y="204.75" class="st5">104</text>
                <text x="100.78" y="204.75" class="st5">105</text>
                <text x="100.78" y="204.75" class="st5">106</text>
                <text x="100.78" y="204.75" class="st5">107</text>
                <text x="100.78" y="204.75" class="st5">108</text>
                <text x="100.78" y="204.75" class="st5">109</text>
                <text x="100.78" y="204.75" class="st5">110</text> -->
                <text x="208.78" y="65.75" (click)="ClicTX()" class="st5">207</text>
                <text x="210.78" y="73.75" (click)="ClicTX()" class="st5">208</text>
                <text x="246.78" y="98.75" (click)="ClicTX()" class="st5">209</text>
                <text x="250.78" y="106.75" (click)="ClicTX()" class="st5">210</text>
            </g>
        </svg>
        
        </div>

        <div #container class='root-container'>
            <ejs-dialog id='ejDialogTX' #ejDialogTX allowDragging='true' header='' [visible]='hidden' [target]='targetElement' width='300px' [showCloseIcon]='showCloseIcon'>
                <ng-template #content>
 
                    

                      
                        <span class="badge badge-pill badge-danger">10</span>
                        <span class="badge badge-pill badge-success">0</span>
                        <br />
                        <span class="badge badge-pill badge-warning">207</span>
                        <span class="badge badge-pill badge-primary">0</span>
                        <br />
                        <span class="badge badge-pill badge-warning">208</span>
                        <span class="badge badge-pill badge-primary">0</span>
                </ng-template>
            </ejs-dialog>
        </div>


    </nb-card-body>
</nb-card>
