@import '../../../../@theme/styles/themes';
@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};

 @include nb-install-component() {
   .wcs {
     height: auto;
     max-width: 100%!important;
 }
 
}

.img {
    width: 100%;
    height: auto;
    cursor: pointer;
}