// @import '../../../../@theme/styles/themes';
// @import '~@nebular/theme/styles/globals';

// @include nb-install() {
//   @include nb-theme-global();
// };

//  @include nb-install-component() {
//    .wcs {
//      height: auto;
//      max-width: 100%!important;
//  }
 
// }

.img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.st5 {
    fill: #000000;
    font-family: Calibri;
    font-size: 0.36664em
}

.st5:hover {
    fill: none;
    stroke: blue
}