<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>
                <h6 id="h6">Eficiencia Lectores Códigos de Barras </h6>
            </nb-card-header>
            <nb-card-body >
                <form  class="form-inline" novalidate id="formId">
                    <div class="form-group mx-sm-4 mb-3">
                        <ejs-datepicker  name=" StartTime " id="StartTime " data-name="StartTime " placeholder='Fecha Inicio' floatLabelType='Always' required>
                        </ejs-datepicker>
                    </div>
                </form>

                

            </nb-card-body>
        </nb-card>
    </div>
</div>